<header>
    <div class="ribbon"></div>
    <div class="content">
        <a routerLink="/" class="logo">
            <div class="logo-bg"></div>
            <img src="../assets/images/brasao-paroquia.png" alt="Brasão" />
        </a>
        <div class="header-info">
            <div class="title">
                <h1>Paróquia São João Batista</h1>
                <span>Macaé/RJ</span>
            </div>

            <nav [class.is-hamburger-active]="hamburgerMenuActive">
                <ul>
                    <li><a routerLink="/">Página inicial</a></li>
                    <li><a routerLink="/historia">História</a></li>
                    <li>
                        <a routerLink="/">Estrutura</a>
                        <ul>
                            <li><a routerLink="/estrutura/pastorais">Pastorais</a></li>
                            <li><a routerLink="/estrutura/horarios-de-missas">Horários de Missas</a></li>
                            <li><a routerLink="/estrutura/fazenda-esperanca">Fazenda Esperança</a></li>
                            <li><a routerLink="/estrutura/recanto-dos-idosos">Recanto dos Idosos</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/contato">Contato</a></li>
                </ul>
            </nav>

            <button class="mobile-menu hamburger hamburger--spin" type="button" title="Menu"
                [class.is-active]="hamburgerMenuActive"
                (click)="showHamburgerMenu()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <div class="social">
            <a href="https://www.facebook.com/paroquiasaojoaobatistamacae" target="_blank" rel="noopener noreferrer">
                <img src="../assets/icons/facebook.png" alt="Facebook" />
            </a>
            <a href="https://instagram.com/paroquiasaojoaobatistamacae" target="_blank" rel="noopener noreferrer">
                <img src="../assets/icons/instagram.png" alt="Instagram" />
            </a>
            <a href="https://www.youtube.com/paroquiasaojoaobatistamacaerj" target="_blank" rel="noopener noreferrer">
                <img src="../assets/icons/youtube.png" alt="Youtube" />
            </a>
        </div>
    </div>
</header>
