<header>
    <div class="ribbon"></div>
    <div class="content">
        <div class="logo">
            <div class="logo-bg"></div>
            <img src="../assets/images/brasao-paroquia.png" />
        </div>
        <div class="header-info">
            <div class="title">
                <h1>Paróquia São João Batista</h1>
                <span>Macaé/RJ</span>
            </div>

            <nav>
                <ul>
                    <li><a href="#">Página inicial</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
        <div class="social">
            <a href="#">
                <img src="../assets/icons/facebook.png" alt="Facebook" />
            </a>
            <a href="#">
                <img src="../assets/icons/instagram.png" alt="Facebook" />
            </a>
            <a href="#">
                <img src="../assets/icons/youtube.png" alt="Facebook" />
            </a>
        </div>
    </div>
</header>
