<header>
    <div class="ribbon"></div>
    <div class="content">
        <a href="/" class="logo">
            <div class="logo-bg"></div>
            <img src="../assets/images/brasao-paroquia.png" alt="Brasão" />
        </a>
        <div class="header-info">
            <div class="title">
                <h1>Paróquia São João Batista</h1>
                <span>Macaé/RJ</span>
            </div>

            <nav>
                <ul>
                    <li><a href="/">Página inicial</a></li>
                    <li><a href="/historia">História</a></li>
                    <li>
                        <a href="/estrutura">Estrutura</a>
                        <ul>
                            <li><a href="/estrutura/pastorais">Pastorais</a></li>
                            <li><a href="/estrutura/horarios-de-missas">Horários de Missas</a></li>
                            <li><a href="/estrutura/fazenda-esperanca">Fazenda Esperança</a></li>
                            <li><a href="/estrutura/casa-dos-velhinhos">Casa dos Velhinhos</a></li>
                        </ul>
                    </li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
            </nav>
        </div>
        <div class="social">
            <a href="#">
                <img src="../assets/icons/facebook.png" alt="Facebook" />
            </a>
            <a href="#">
                <img src="../assets/icons/instagram.png" alt="Facebook" />
            </a>
            <a href="#">
                <img src="../assets/icons/youtube.png" alt="Facebook" />
            </a>
        </div>
    </div>
</header>
