section#channels {
    background-color: var(--red);

    .content {
        padding: 30px 15px;
        color: var(--white);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .channel-item {
            height: 120px;
            flex: 1 0;
            background-color: var(--red2);
            border: 1px solid var(--red3);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: var(--red1);
            }
        }
    }
}
