section#banners {
    height: calc(100vh - 130px);
    background-color: var(--offwhite);

    .banner-item {
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: calc(100vh - 130px);

        img {
            width: 100%;
        }
    }
}
