<header>
    <div class="ribbon"></div>
    <div class="content">
        <div class="logo">
            <div class="logo-bg"></div>
            <img src="../assets/images/brasao-paroquia.png" />
        </div>
        <div class="header-info">
            <div class="title">
                <h1>Paróquia São João Batista</h1>
                <span>Macaé/RJ</span>
            </div>

            <nav>
                <ul>
                    <li><a href="#">Página inicial</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
        <div class="social">
            <a href="#">
                <img src="../assets/icons/facebook.png" alt="Facebook" />
            </a>
            <a href="#">
                <img src="../assets/icons/instagram.png" alt="Facebook" />
            </a>
            <a href="#">
                <img src="../assets/icons/youtube.png" alt="Facebook" />
            </a>
        </div>
    </div>
</header>
<section id="banners">
    <a href="#" class="banner-item">
        <img src="https://place-hold.it/1920x1080/b1b1b1" alt="" />
    </a>
</section>
<section id="last-posts">
    <div class="content">
        <span>bbbb</span>
    </div>
</section>
<section id="channels">
    <div class="content">
        <span>cccc</span>
    </div>
</section>
<footer>
    <div class="content">
        <span>dddd</span>
    </div>
</footer>
