<section id="last-posts">
    <div class="content">
        <div class="posts-section left">
            <a routerLink="/" class="item small">
                <div class="info">
                    <span class="category">Teste</span>
                    <span class="title">Este é um artigo de teste</span>
                </div>
                <img src="https://picsum.photos/seed/faith/410/200" alt="" />
            </a>
            <a routerLink="/" class="item small">
                <div class="info">
                    <span class="category">Teste</span>
                    <span class="title">Outro teste</span>
                </div>
                <img src="https://picsum.photos/seed/social/410/200" alt="" />
            </a>
        </div>
        <div class="posts-section main">
            <a routerLink="/" class="item main">
                <div class="info">
                    <span class="category">Teste</span>
                    <span class="title">Artigo de teste principal</span>
                </div>
                <img src="https://picsum.photos/seed/main/680/410" alt="" />
            </a>
        </div>
    </div>
</section>
