@import "assets/styles/base";

html {
    body {
        background: var(--offwhite);
        line-height: 1;
        font-family: "Merriweather", serif;
        margin: 0;
        padding: 0;
    }
}
