@import "assets/styles/base";

html {
    body {
        background: var(--offwhite);
        line-height: 1;
        font-family: "Merriweather", serif;
        font-weight: 300;
        margin: 0;
        padding: 0;

        .content {
            width: 1100px;
            max-width: 1100px;
            margin: 0 auto;
        }
    }
}
