@import "assets/styles/base";


$hamburger-layer-width         : 25px;
$hamburger-layer-height        : 4px;
$hamburger-layer-spacing       : 6px;
$hamburger-hover-opacity       : 1;
$hamburger-layer-color         : var(--red);

$hamburger-types     : (spin);
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

html {
    body {
        background: var(--offwhite);
        line-height: 1;
        font-family: "Merriweather", serif;
        font-weight: 300;
        margin: 0;
        padding: 0;

        .content {
            width: 1100px;
            max-width: 1100px;
            margin: 0 auto;
        }

        @media (max-width: 768px) {
            .content {
                width: calc( 100vw - 54px );
                max-width: calc( 100vw - 54px );
                margin: 0 auto;
            }
        }
    }
}
